:root{
 --bg:#f8fafc;
 --card:#ffffff;
 --text:#111827;
 --sub:#6b7280;
 --border:#e5e7eb;
}

[data-theme="dark"]{
 --bg:#020617;
 --card:#0f172a;
 --text:#f1f5f9;
 --sub:#94a3b8;
 --border:#334155;
}

body{
 margin:0;
 background:var(--bg);
 color:var(--text);
 font-family:sans-serif;
 transition:0.3s;
}